.wrapper
  width: 25rem
  height: 15rem
  background: white
  border: 1px solid #bebfbf
  border-radius: 3px
  position: absolute
  top: 6rem
  display: none
  flex-direction: column
  padding: 1rem
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.35)
  transition: .4s

  &.oneError
    height: 16.5rem

  &.errors
    height: 18.5rem

.active
  display: flex

.arrow
  border: solid #bebfbf
  border-width: 0 1px 1px 0
  padding: 7px
  position: relative
  background: white
  width: 0px
  transform: rotate(-135deg)
  top: -25px
  left: 15px

.cancel
  background: transparent
  border: none
  cursor: pointer
  outline: none
  font-size: 1.3rem
  color: #bebfbf
  align-self: flex-end

  &:hover
    color: #636363

.content
  padding: 1rem 1.5rem
  height: 7.5rem
  transition: .4s

  &.oneError
    height: 9rem

  &.errors
    height: 11rem

  & > *:first-child
    margin-bottom: 1rem

  & > *:nth-child(2)
    margin-bottom: 0.4rem

.wrapperButton
  display: flex
  padding: 0 1.5rem

.errorPrompt
  color: red
  margin-top: 0
  margin-bottom: .4rem
  animation: hide .4s
  animation-fill-mode: forwards
  transform-origin: top
  display: none

  &:last-child
    margin-bottom: 0

.showError
  animation: show .4s
  animation-fill-mode: forwards
  display: block

@keyframes hide
  0%
    transform: scaleY(1)

  100%
    transform: scaleY(0)
    display: none

@keyframes show
  0%
    transform: scaleY(0)

  100%
    transform: scaleY(1)
