.input
  width: 100%
  height: 2rem
  border: 1px solid #afafaf
  border-radius: 3px
  font-family: Georgia, 'Times New Roman', Times, serif
  font-size: 1rem
  padding: 3px 10px
  outline: none
  transition: all .15s
  text-overflow: ellipsis

  &:focus
    border-color: #109bf8

.error
  border-color: red
