@import 'src/sass/vars'

.wrapperDatePicker
  display: flex
  justify-content: center
  width: 100%

  & > *:first-child
    width: 10rem

.fieldset
  height: 2rem
  border-radius: $border-radius
  border: $border-base
  cursor: pointer

  &:focus
    border-color: $primary

    .legend
      color: $primary

.legend
  font-size: .9rem
  padding: 0 6px
  color: $dimgray

.input
  width: calc(100% - 3rem)
  border: none
  font-size: .95rem
  position: absolute
  top: 21px
  cursor: pointer

  &:hover, &:focus
    border: none
    outline: none

.iconCalendar
  position: absolute
  fill: transparent
  stroke: currentColor
  top: 16px
  right: 16px
  font-size: 24px
