@import 'src/sass/vars'

.btn
  background-color: $white
  border-radius: $border-radius
  border: $border-base
  cursor: pointer
  outline: none
  font-size: 1rem
  padding: 6px 18px

  &:hover
    background-color: $btn-bg-color-hover

  &:active
    background-color: $btn-bg-color-active
    border-color: $silver

  &:focus
    box-shadow: $box-shadow-size $silver

  &:not(:last-child)
    margin-right: 1rem

  &.danger
    background-color: $danger
    color: $white
    border-color: $btn-border-color-danger

    &:hover
      background-color: $btn-bg-danger-hover

    &:active
      background-color: $btn-bg-danger-active
      border-color: $btn-border-color-danger-active

    &:focus
      box-shadow: $box-shadow-size $btn-border-color-danger-active

  &.success
    background-color: $success
    color: $white
    border-color: $btn-border-color-success

    &:hover
      background-color: $btn-bg-color-success-hover

    &:active
      background-color: $btn-bg-color-success-active
      border-color: $btn-border-color-success-active

    &:focus
      box-shadow: $box-shadow-size $btn-border-color-success-active

  &.primary
    background-color: $primary
    color: $white
    border: $border-width-base $border-style-base $btn-border-color-primary

    &:hover
      background-color: $btn-bg-color-primary-hover

    &:active
      background-color: $btn-bg-color-primary-active
      border-color: $btn-border-color-primary-active

    &:focus
      box-shadow: $box-shadow-size $sub-primary

.icon
  width: 14px
  height: 14px

.mr
  margin-right: .5rem
