.btn
    background: white
    border-radius: 3px
    border: 2px solid #bebfbf
    cursor: pointer
    outline: none
    font-size: 1rem

    &:hover
        background-color: #e8e8e8

    &:active
        background-color: #dcdcdc
        border-color: #a2a2a2

    &:focus
        box-shadow: 0 0 0 1px #a2a2a2

    &:not(:last-child)
        margin-right: 1rem
