@import 'src/sass/vars'

.button
  padding: 9px 18px
  background-color: $primary
  color: $white
  border: $border-width-base $border-style-base $btn-border-color-primary
  border-radius: $border-radius
  cursor: pointer
  transition: $transition
  font-size: medium
  font-weight: bold
  outline: none

  &:hover
    background-color: $btn-bg-color-primary-hover

  &:active
    background-color: $btn-bg-color-primary-active
    border-color: $btn-border-color-primary-active

  &:focus
    box-shadow: $box-shadow-size $sub-primary

  &:not(:last-child)
    margin-right: 1rem

.active
  background-color: $btn-bg-color-primary-active
