@import 'src/sass/vars'

.cell
  border: $border-base
  padding: 0 1rem
  transition: $transition
  user-select: none

  &:hover
    background-color: $primary
    border-color: $primary
    box-shadow: $box-shadow-size-blurred $primary
    z-index: 1
    cursor: pointer

    .day
      color: $white

.day
  color: $dimgray

.event
  background-color: $sub-primary

.active
  background-color: $bg-active-cell
  border: $border-width-base $border-style-base $primary
