.wrapperCell
  border: 1px solid #bebfbf
  padding: 0 1rem
  transition: .15s
  user-select: none

  &:hover
    background-color: #1f98ec
    border-color: #1f98ec
    box-shadow: 0 0 8px #1f98ec
    z-index: 1
    cursor: pointer

    .day
      color: white


.day
  color: #696969

.event
  background: #a8d5f5

.activeCell
  background: #e6f4fd
  border: 1px solid #1f98ec
