.externalModalBackground
  display: none
  align-items: center
  justify-content: center
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: #00000070
  z-index: 1

.wrapper
  width: 32rem
  height: 28rem
  background: white
  border: 1px solid #bebfbf
  border-radius: 3px
  display: flex
  flex-direction: column
  padding: 1rem
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .35)
  transition: .4s

  &.oneError
    height: 29.5rem

  &.errors
    height: 31.5rem

.visible
  display: flex

.cancel
  background: transparent
  border: none
  cursor: pointer
  outline: none
  font-size: 1.3rem
  color: #bebfbf
  align-self: flex-end
  padding: 1px 3px

  &:hover
    color: #636363

.content
  padding: 1rem 1.5rem
  height: 21.5rem
  transition: .6s

  &.oneError
    height: 23rem

  &.errors
    height: 25rem

  & > *:not(:last-child)
    margin-bottom: 1rem

  & > *:nth-child(3)
    margin-top: 0.2rem

.field
  width: calc(100% - 32px)

.description
  width: calc(100% - 32px)
  height: 8rem
  margin: .4rem 0!important
  resize: none
  border: 1px solid #afafaf
  border-radius: 3px
  font-family: Georgia, 'Times New Roman', Times, serif
  font-size: 1rem
  padding: 3px 10px
  outline: none
  transition: all .15s

  &:focus
    border-color: #109bf8

.wrapperButtons
  padding: 0 1.5rem
  display: flex

.errorPrompt
  color: red
  margin-top: 0
  margin-bottom: .4rem!important
  animation: hide .4s
  animation-fill-mode: forwards
  transform-origin: top
  display: none

  &:last-child
    margin-bottom: 0

.showError
  animation: show .4s
  animation-fill-mode: forwards
  display: block

@keyframes hide
  0%
    transform: scaleY(1)

  100%
    transform: scaleY(0)
    display: none

@keyframes show
  0%
    transform: scaleY(0)

  100%
    transform: scaleY(1)
