@import 'src/sass/vars'
@import 'src/index'

.overlay
  display: none
  align-items: center
  justify-content: center
  position: fixed
  inset: 0
  background-color: $overlay
  z-index: 1

.modal
  width: 35rem
  height: 28rem
  background-color: $white
  border: $border-base
  border-radius: $border-radius
  display: flex
  flex-direction: column
  padding: 1rem
  box-shadow: $box-shadow-modal
  transition: .4s

  &.oneError
    height: 29.5rem

  &.errors
    height: 31.5rem

.visible
  display: flex

.cancel
  align-self: flex-end

  &:hover .iconCancel
    color: $cancel-color-hover

.iconCancel
  stroke: currentColor

.icon
  stroke: currentColor
  fill: transparent
  font-size: 24px

.content
  padding: 1rem 1.5rem
  height: 21.5rem
  transition: .6s

  &.oneError
    height: 23rem

  &.errors
    height: 25rem

  & > *:not(:last-child)
    margin-bottom: 1rem

  & > *:nth-child(3)
    margin-top: 0.2rem

.field
  width: calc(100% - 32px)

.description
  width: calc(100% - 32px)
  height: 8rem
  margin: .4rem 0!important
  resize: none
  border: $border-base
  border-radius: $border-radius
  font-size: 1rem
  font-family: Georgia, 'Times New Roman', Times, serif
  letter-spacing: .25px
  line-height: 1.5rem
  padding: 3px 10px
  outline: none
  transition: $transition

  &:focus
    border-color: $primary

.actions
  padding: 0 1.5rem
  display: flex
  column-gap: 12px

.errorPrompt
  color: $danger
  margin-top: 0
  margin-bottom: .4rem!important
  height: 0
  visibility: hidden
  transform: scaleY(0)

  &:last-child
    margin-bottom: 0

.showError
  @include visible

.hidingError
  @include hidden
