html
  font-size: 16px

body
  margin: 0
  font-family: Georgia, 'Times New Roman', Times, serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.rotate90
  transform: rotate(90deg)

.rotate270
  transform: rotate(270deg)

.indentRight
  margin-right: .5rem

.indentLeft
  margin-left: .5rem